.plataform-features-list {

    font-size: 0.7rem;
    /* max-width: 20.7rem; */
    max-width: 30rem;
    margin: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    p {
        color: #6F6C90;
        margin: 0;
        padding: 0;
        text-align: justify;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        li {
            display: flex;
            justify-content: center;
            gap: .5rem;
            align-items: center;
        }

        .div-image-list {
            background-color: #fff;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; /* Para garantir que nada ultrapasse os limites */
        }
        
        .border-title {
            color: #fff;
            background-color: #F7AA67;
            font-size: .8rem;
            padding: .3rem;
            white-space: nowrap;
            border-radius: 3.5rem;
            text-align: center;
        }

        * p {
            line-height: .8;
            padding-top: .3rem;
        }
    }
}