header {
    background-color: #fff;
    height: auto;
    width: 100vw;
    box-sizing: border-box;
    padding: .5rem 1rem;
    align-items: center;
    
    nav ul {
        font-weight: 800;
        display: flex;
        gap: 2rem;
    }
}