.background-grow-flex {
    flex-grow: 1;
    flex-basis: 0;
}

.background-gradient-colorful {
    background-image:
        radial-gradient(circle at 90% 90%, #FAC06F, transparent 50%),
        radial-gradient(circle at 40% 95%, #F29677 10%, transparent 65%),
        linear-gradient(-45deg, #F29677 10%, transparent 60%);
}
