footer {
  background-color: #fff;
  height: auto;
  width: 100vw;
  padding: .5rem 1rem;

  font-size: .6rem;
  font-weight: 800;
  gap: .5rem;
}
footer nav {
  gap: 1rem;
}
footer nav ul {
  list-style-type: none;
  align-items: center;
  gap: .5rem;
}
footer nav ul li {
  gap: .5rem;
}
