footer {
    background-color: #fff;
    height: auto;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 1rem;
    align-items: center;
    
    font-size: .6rem;
    font-weight: 800;
    gap: 1rem;

    > nav {
        gap: .5rem;
    
        > ul, li {
            gap: .5rem;
        }
    }
}

/*media querry para responsividade das lista do footer*/


