/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Native Tags Style ====================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'DM Sans';
  font-size: 23px;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.4rem;
  font-weight: 900;
  margin: 0;
}
h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0;
}
h3 {
  font-size: .7rem;
  margin: 0;
}

/* Custom Classes Styles ======================================================================*/

/* Fonts */
.font-c-black {
  background: linear-gradient(90deg, #353A49, #6B7384);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.font-shdw-yellow {
  color: white;
  text-shadow: 
    0 .2rem .5rem #BD9E70,
    .05rem .05rem #BD9E70,
    -.05rem .05rem #BD9E70,
    .05rem -.05rem #BD9E70,
    -.05rem -.05rem #BD9E70;
}

/* Blocks */
.backg-c-black {
  background: linear-gradient(90deg, #353A49, #6B7384);
  color: #fff;
  border-radius: 3.5rem;
  padding: .2rem 1rem;
}
.border-shdw-gray {
  border: .7rem solid white;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem -1rem grey;
  box-sizing: border-box;
}

/* Buttons */
.login-button {
  background-color: #F7AA67;
  color: #fff;
  margin: 0;
  padding: .5rem 2rem;
  border-radius: 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

/* Arrows */
.arrow.revealed {
  visibility: visible;
  opacity: 1;
}
.arrow.hidden {
  visibility: hidden;
  opacity: 0;
}
.arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform .2s ease;
}
