/* Main Style - Basic Style */

/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* TAGS */

html {
    font-family: 'DM Sans';
    font-size: 23px;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 2.4rem;
    font-weight: 900;
    margin: 0;
}
h2 {
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0;
}
h3 {
    font-size: .7rem;
    margin: 0;
}

/* CLASSES */

/* Styling Blocks and Colors */

.font-gradient-black {
    background: linear-gradient(90deg, #353A49, #6B7384);
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.background-gradient-black {
    border-radius: 3.5rem;
    padding: .2rem 1rem;
    background: linear-gradient(90deg, #353A49, #6B7384);
    color: #fff;
}

.font-shadow-yellow {
    color: white;
    text-shadow: 
        0 .2rem .5rem #BD9E70,
        .05rem .05rem #BD9E70,
        -.05rem .05rem #BD9E70,
        .05rem -.05rem #BD9E70,
        -.05rem -.05rem #BD9E70;
}

.border-shadow-gray {
    border: .7rem solid white;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem -1rem grey;
    box-sizing: border-box;
}

/* Display */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* Display Centralization */

.fd-column {
    flex-direction: column;
}

.fd-column-reverse {
    flex-direction: column-reverse;
}

.fd-row {
    flex-direction: row;
}

.fd-row-reverse {
    flex-direction: row-reverse;
}

.jc-spacebetween {
    justify-content: space-between;
}

.jc-spacearound {
    justify-content: space-around;
}

.ji-center {
    justify-items: center;
}

.pc-center {
    place-content: center;
}

.pi-center {
    place-items: center;
}

/* Element Centralization */

.al-center {
    align-items: center;
}

.txtal-center {
    text-align: center;
}

/* Position */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* Elements: Lists */

.ul-none {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Elements: Button */

.login-button {
    color: #fff;
    background-color: #F7AA67;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: .5rem 2rem;
    border-radius: 3.5rem;
    text-decoration: none;
    text-align: center;
}
